* {
    color: brown;
    background-color: azure;
}

h2 {
    color=: #0000;
}

.website-title {
    font-size: 30px
}

.article-title {
    font-size: 20px
}

#post-1 {
    color: chocolate;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6
}

#post-2 {
    color: darkgreen;
    font-weight: 150;
    font-family: 'Open Sans', sans-serif;
    line-height: 2
}


